@page
<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Room To Join</div>
        <div class="col-5"><input type="text" class="w-100" id="roomInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="joinRoomButton" value="Join Room" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Room To Add</div>
        <div class="col-5"><input type="text" class="w-100" id="addRoomInput" /></div>
        <div class="col-1">Category To Add</div>
        <div class="col-5"><input type="text" class="w-100" id="categoryRoomInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="addRoomButton" value="Add Room" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="getRoomButton" value="Get all Rooms" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Room To Send Message</div>
        <div class="col-5"><input type="text" class="w-100" id="roomToSendMessageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendMessageRoomButton" value="Send Message To Room" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Get Messages From Room</div>
        <div class="col-5"><input type="text" class="w-100" id="roomToGetMessageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="getMessages" value="Get Message From Room" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="getCategoriesButton" value="Get Categories" />
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>